.time{
    font-size: 100px;
}

.container-timer button{
    width: 8rem;
    height: 2rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.container-timer .button-shut{
    background-color: red;
    color: white;
}

.container-timer button:active{
    box-shadow: inset 5px 5px 20px rgb(0, 0, 0, 0.5);
}

.line-container{
    width: 35rem;
    height: 3px;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #f0f0f0;
}

.line{
    width: 0;
    height: 2rem;
    background-color: #000;
}

.container-ranking{
    position: relative;
    top: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-ranking h1{
    font-size: 38px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.container-cycles{
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid black;
}

.container-timer-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button-pause{
    background-color: rgb(255, 255, 83);
}

.button-start{
    background-color: var(--color-green);
    color: white;
}
