.time{
    font-size: 100px;
}

main button{
    width: 8rem;
    height: 2rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

main .button-shut{
    background-color: red;
    color: white;
}

main button:active{
    box-shadow: inset 5px 5px 20px rgb(0, 0, 0, 0.5);
}

.line-container{
    width: 35rem;
    height: 3px;
    margin-bottom: 2rem;
    overflow: hidden;
    background-color: #f0f0f0;
}

.line{
    width: 0;
    height: 2rem;
    background-color: #000;
}

@keyframes flow {
    from { width: 0%; }
    to { width: 100%; }
}

@keyframes pause {
    from { width: 0%; }
    to { width: 100%; }
}

.container-ranking{
    position: relative;
    top: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-ranking h1{
    font-size: 38px;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.container-cycles{
    width: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px solid black;
}
